li {
	text-align: left;
}

.bg-light {
	/* background-color: mistyrose !important; */
}

.btn {
	background-color: hotpink;
	border-color: lightpink;
}

.btn:hover {
	background-color: pink;
	border-color: lightpink;
}